doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang="zh-cmn-Hans")
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang="zh-cmn-Hans")
//if IE 8
  html.no-js.lt-ie9(lang="zh-cmn-Hans")
//if IE 9
  html.no-js.lt-ie10(lang="zh-cmn-Hans")
// [if gt IE 9] <!
html.no-js(lang="zh-cmn-Hans")
    // <![endif]
    head
        meta(charset="utf-8")
        title {%=o.htmlWebpackPlugin.options.title || "Webpack App"%}
        | {% if (o.htmlWebpackPlugin.files.favicon) { %}
        link(rel="shortcut icon", href="{%=o.htmlWebpackPlugin.files.favicon%}")
        | {% } %}
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="renderer", content="webkit")
        script.
            var userEmail = '#{userEmail}' || null;
        //if IE
          script(src="./common/shim.min.js")
        script(src="./common/modernizr.min.js")
        | {% for (var css in o.htmlWebpackPlugin.files.css) { %}
        link(href="{%=o.htmlWebpackPlugin.files.css[css] %}", rel="stylesheet")
        | {% } %}
    body
        | {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
        script(src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}")
        | {% } %}

